.Success {
    background-color: green;
    color: #111; font-family: 'Open Sans Condensed', 
    sans-serif; font-size: 15px;
     font-weight: 700; 
     line-height: 64px; 
     margin: 0 0 0;
      padding: 20px 30px;
       text-align: center;
        text-transform: uppercase;
        position: static;
        display: flex;
      }

.Error {
    background-color: red;
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; font-size: 50px; 
    font-weight: 800;
     line-height: 72px;
      margin: 0 0 24px; 
    text-align: center;
     text-transform: uppercase;
     display: flex;

   
}

.SizeLarge {
    font-size: 40px;
}